/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/


:root {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

*, 
::after,
::before {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    background-image: -webkit-gradient(linear, 
    left top, left bottom, 
    from(rgba(0,0,0,0.5)), 
    to(rgba(0,0,0,0.5))),
    url(images/renan-kamikoga-eK2la0EJ9Ts-unsplash.jpg);
    background-image: -o-linear-gradient(rgba(0,0,0,0.5), 
    rgba(0,0,0,0.5)),
    url(images/renan-kamikoga-eK2la0EJ9Ts-unsplash.jpg);
    background-image: linear-gradient(rgba(0,0,0,0.5), 
    rgba(0,0,0,0.5)),
    url(images/renan-kamikoga-eK2la0EJ9Ts-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    color: white;
<<<<<<< HEAD
}

.content-container {
=======
    display: -webkit-box;
    display: -ms-flexbox;
>>>>>>> 4bbfe04537c26fb1ef9df3812a6379c14b9cccb8
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.content {
<<<<<<< HEAD
    margin-top: 6em;
=======
    margin-top: 10em;
    display: -webkit-box;
    display: -ms-flexbox;
>>>>>>> 4bbfe04537c26fb1ef9df3812a6379c14b9cccb8
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

#count-el {
    font-size: 4rem;
}

#increment-btn {
<<<<<<< HEAD
    margin-top: 1em;
=======
    margin-top: 2em;
>>>>>>> 4bbfe04537c26fb1ef9df3812a6379c14b9cccb8
    padding: 0.8em;
    width: 60%;  
    font-size: 1.2rem; 
}

#save-btn {
    margin-top: 1em;
    padding: 0.8em;
    width: 60%;  
    font-size: 1.2rem;
}

#reset-counter-btn {
    margin-top: 1em;
    padding: 0.8em;
    width: 60%;  
    font-size: 1.2rem;
}

.previous-counts {
    display: flex;
    justify-content: center;
    margin-top: 0.5em;
}

#saved-count {
    font-size: 2rem;
}

@media only screen and (min-width: 600px) {
    body {
        background-image: -webkit-gradient(linear, 
        left top, left bottom, 
        from(rgba(0,0,0,0.5)), 
        to(rgba(0,0,0,0.5))),
        url(images/lex-sirikiat-hmcyWDzjWHo-unsplash.jpg);
        background-image: -o-linear-gradient(rgba(0,0,0,0.5), 
        rgba(0,0,0,0.5)),
        url(images/lex-sirikiat-hmcyWDzjWHo-unsplash.jpg);
        background-image: linear-gradient(rgba(0,0,0,0.5), 
        rgba(0,0,0,0.5)),
        url(images/lex-sirikiat-hmcyWDzjWHo-unsplash.jpg);
    }

    .content {
        margin-top: 15em;
    }

    #increment-btn {
        margin-top: 1em;
    }
  }
